<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Students</title>
    </head>
    <body>
        <h1>All Students</h1>
        
    	<div th:each="student,iterationStatus: ${students}">
            <h3 th:text="'No. ' + ${iterationStatus.count}">No. 1</h3>
	       	<h3 th:text="'NPM = ' + ${student.npm}">Student NPM</h3>
	       	<h3 th:text="'Name = ' + ${student.name}">Student Name</h3>
	       	<h3 th:text="'GPA = ' + ${student.gpa}">Student GPA</h3>
	       	<h3>Kuliah yang diambil</h3>
	       	<ul th:each="course,iterationStatus: ${student.courses}">
	       		<li th:text="${course.nama} + '-' + ${course.sks} + ' sks'">
	       			nama kuliah-X SKS
	       		</li>
	       	</ul>
	       	<a th:href="'/student/delete/' + ${student.npm}" > Delete Data</a><br/>
	       	<a th:href="'/student/update/' + ${student.npm}" > Update Data</a><br/>
	       	<hr/>
       	</div>
    </body>
</html>
